* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    background: rgb(242, 250, 255);
}

/* TOP-NAV */

.top-nav {
    position: fixed;
    width: 100%;
    background: #2B7FE1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 20px;
}

.top-nav img:first-of-type {
    width: 100px;
    height: auto;
}

.top-nav img:last-of-type {
    width: 20px;
}

.covid-19-reponse {
    display: none;
}

/* HEADER */

.header {
    /* background: #3485E3; */
    background: #2787E5;
    color: white;
    text-align: center; 
    padding: 200px 15px 0 15px;
}

.header h1 {
    font-size: 45px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-weight: 500;
}

.header p {
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 5px;
}

.header .download-katalon {
    font-size: 17px;
    color: #081D36;
    padding: 15px 28px;
    background: white;
    font-family: 'Ubuntu';
    font-weight: 500;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    margin-top: 45px;
    cursor: pointer;
}

/* PRODUCTS */

.products-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;
}

.product {
    cursor: pointer;
    width: 130px;
    margin-top: 20px;
}

.product img {
    width: 50px;
}

.product p {
    font-size: 16px;
    color: #8FD9FF;
    margin-bottom: 0;
    line-height: 20px;
}


/* WHITE CONTAINER */

.white-container {
    padding: 0 15px;
    background: rgb(242, 250, 255);
}

/* FLEXING WITH AWARDS */

.flexing-with-awards {
    padding-top: 130px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexing-with-awards img {
    width: 300px;
}

.award {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
}

.award p {
    font-size: 28px;
    padding: 20px 0;
    color: #596778;
    font-weight: 300;
    text-align: center;
}

.award.left {
    margin: 0 auto 0 0;
}

.award.right {
    margin: 0 0 0 auto;
}

/* FLEXING WITH QUALITIES */

.flexing-with-qualities {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.quality {
    width: 320px;
    margin-bottom: 50px;
    max-width: 410px;
}

.quality p {
    color: #596778;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 300;
}

.quality img {
    width: 70px;
}

.icon-with-title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.icon-with-title h2 {
    margin: 0 0 12px 22px;
    font-size: 23px;
    font-weight: 500;
}

/* FLEXING WITH NUMBERS */

.flexing-with-numbers {
    margin: 0 15px;
    background: rgb(250, 253, 255);
    box-shadow: 0 30px 44px 0 rgba(19,27,79,0.03);
    display: flex;
    align-items: center;
}
.flexing-with-numbers p {
    font-size: 40px;
    color: #667A94;
    font-weight: 300;
    padding: 50px 20px;
}
.left-side-text {
    min-width: 320px;
    max-width: 444px;
    width: 80%;
    text-align: center;
    line-height: 60px;
    flex-shrink: 1;
}

.flexing-with-numbers .number-of-clients {
    font-size: 64px;
    color: #00A9FF;
    font-weight: 600;
    letter-spacing: 1px;
}
.flexing-with-numbers .right-side-img img {
    display: none;
    width: 100%;
    flex-grow: 1;
}

.table {
    padding-top: 50px;
    margin: 0 15px;
}

.table h2 {
    color: #081D36;
    font-weight: 500;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 20px;
}

.table p {
    font-size: 23px;
    color: #596778;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
    line-height: 35px;
}


/* TABLES */

.single-row {
    padding: 10px;
    background-color: #DFF2FF;
    border-radius: 10px;
}
.single-row {
    display: flex;
    margin: 10px 0;
    transition: 0.2s linear;
}

.biggest-col {
    background: #FFFFFF;
    width: 150px;
    line-height: 80px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-right: 5px;
    transition: 0.2s linear;
    border-radius: 4px;
}

.small-col {
    line-height: 80px;
    background: #F4FBFF;
    margin: 0 5px;
    flex-basis: 90px;
    max-width: 116px;
    flex-grow: 1;
    color: #596778;
    font-size: 13px;
    text-align: center;
    border-radius: 4px;
}

.single-row:hover {
    box-shadow: 0 0 0 3px #00A9FF;
}

.single-row:hover .biggest-col {
    background: #00A9FF;
    color: white;
}

/* products descriptions displayed on focus */

.table p {
    font-weight: 300;
    font-size: 15px;
    color: #333;
}

/*  why the hell does it work on IMG element? */
.product {
    text-align: center;
}

.products-description .product p {
    margin-top: 10px;
}

.products-description .products-container {
    margin-bottom: 30px;
}

.products-description {
    padding: 0 15px ;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 14px 0 rgba(19,27,79,0.03);
    text-align: center;
}

.products-description p {
    font-size: 14px;
    color: #596778;
    margin-bottom: 10px;
    line-height: 20px;
    margin-top: 10px;
    font-weight: 300;
}

.products-description a {
    display: block;
    text-decoration: none;
    color: #318AE5;
}


/* FLEXING WITH COVERAGE */

.cov-flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: space-around;
    justify-content: space-around;
}

.flexing-with-coverage {
    padding: 0 15px 50px;
}

.flexing-with-coverage h2 {
    color: #081D36;
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
    line-height: 52px;
}

.flexing-with-coverage p {
    margin-top: 10px;
    font-weight: 300;
    color: #596778;
    font-size: 23px;
    line-height: 34px;
}

.flexing-with-coverage h2,
.flexing-with-coverage p {
    text-align: center;
}

.single-coverage h2 {
    color: #333;
    font-size: 23px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
    margin-top: 20px;
    margin-bottom: 12px; 
}

.single-coverage p {
    font-size: 17px;
    line-height: 25px;
    color: #596778;
}

.coverage-container {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.single-coverage {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 410px;
}

.single-coverage img {
    width: 100px;
}


/*  CLIENT OPINION ABOUT US */

.client-opnion-about-us {
    background: #fff; 
    padding: 30px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-opnion-about-us img {
    width: 300px;
    margin-bottom: 20px;
}

.client-opnion-about-us .opinion {
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #596778;
}

.client-opnion-about-us cite {
    margin-top: 20px;
    display: block;
    font-size: 16px;
}

.client-opnion-about-us a {
    margin-top: 20px;
    width: 100%;
    text-decoration: none;
    color:#318AE5;
    font-size: 16px;
}

/* YOUR JOURNEY SECTION */

.journey-starts-here {
    margin: 40px 0;
    padding: 0 15px;
    text-align: center;
}

.journey-starts-here h2 {
    letter-spacing: 0px;
    font-size: 36px;
    line-height: 45px;
    font-weight: 500;
    color: #081D36;
}

.journey-starts-here button {
    margin-top: 20px;
    color: #fff;
    padding: 20px 45px;
    background: #00A9FF;
    border: none;
    border-radius: 4px;
    font-size: 19px;
    font-weight: bold;
}

/* CONTACT, BOTTOM NAV */
.bottom-nav {
    display: grid;
    grid-template-areas: 
    "contact contact"
    "links links"
    "copyrights terms";
    justify-content: center;
}

.bottom-nav {
    background: white;
    padding: 40px 30px;
}

.bottom-address {
    grid-area: contact;
}


.bottom-address img {
    width: 100px;
}

.address {
    margin-top: 30px;
    color: #9DABB8;
    font-style: normal;
    line-height: 25px;
    font-size: 14px;
}

.address a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}

.address a:hover {
    color: rgb(111, 118, 124);
}

.follow-us {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: normal;
    color: #596778;
    text-transform: uppercase;
}

.follow-us i {
    font-size: 20px;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 15px;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
}

.follow-us i:hover {
    color: #9DABB8;
}



/* BOTTOM LINKS */

.links-container {
    grid-area: links;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.links {
    flex-basis: 50%;
    color: #596778;
}

.links li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links a {
    text-decoration: none;
    color: #596778;
    line-height: 30px;
    font-size: 13px;
}

.links li:first-of-type {
    text-transform: uppercase;
    color: #9DABB8;
    line-height: 35px;
    font-size: 14px;
}

/* FOOTER */

.copyrights {
    grid-area: copyrights;
    color: #9DABB8;
    line-height: 35px;
    font-size: 12px;
}

.terms {
    grid-area: terms;
}

.terms a {
    text-decoration: none;
    color: #596778;
    line-height: 30px;
    font-size: 13px;
    margin-right: 10px;
}


/* MOBILE-NAV */

.mobile-nav {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0 20px;
    transition: 0.4s ease-in-out;
}

.icon-container {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.icon-container img {
    width: 100px;
    height: auto;
}

.icon-container img:last-of-type {
    width: 20px;
}

.mobile-nav li {
    list-style: none;
}

.mobile-nav a {
    text-decoration: none;
    color: #081D36;
    font-size: 22px;
    line-height: 38px;
    font-weight: 300;
}

.active {
    left: 0;
}


/* MEDIA QUERIES */


@media only screen and (min-width: 567px) {
    .header {
        padding-bottom: 50px;
    }

    .flexing-with-awards {
        padding-top: 50px;
    }
}


@media only screen and (min-width: 768px) {
    footer {
        grid-area: footer;
    }
    .bottom-nav {
        grid-template-areas: 
        "contact links"
        "contact links"
        "copyrights terms";
        column-gap: 2em;
    }

    .flexing-with-numbers .right-side-img img {
        display: block;
    }

    .journey-starts-here h2 {
        font-size: 49px;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .links {
        flex-basis: 25%;
        min-width: 150px;
    }


    /* NAV */

    .mobile-nav {
        all: unset;
    }

    .icon-container {
        display: none;
    }

    .nav-container {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto 1fr auto;
        align-items: center;
    }

    .top-nav {
    background: #2787E5;
    color: white;
    }

    .top-nav img:nth-of-type(2) {
        display: none;
    }

    .top-nav img:nth-of-type(1) {
        width: 120px;
    }

    .top-nav ul {
        display: flex;
        justify-content: flex-end;
        
    }

    .top-nav li {
        margin: 0 20px;
    }

    .top-nav ul li:nth-last-of-type(2) {
        order: 2;
    }

    .top-nav a {
        color: white;
    }

    .covid-19-reponse {
        display: block;
    }
}



